[buildout]
extends = versions.cfg
show-picked-versions = true
#allow-picked-versions = false
#update-versions-file = versions.cfg
download-cache = ${buildout:directory}/downloads

extensions = mr.developer
auto-checkout =
    core.backend
    core.scripts

#Add additional egg download sources here. dist.plone.org contains archives of Plone packages.
find-links =
    http://localhost:8000

parts =
    custom_python
    server

[sources]
core.scripts = git https://github.com/SivaCn/core.scripts.git branch=develop
core.backend = git https://github.com/SivaCn/core.backend.git branch=develop

[custom_python]
recipe = zc.recipe.egg
interpreter = cupython

eggs =
    sqlalchemy
    simplejson
    core.backend
    core.scripts

[server]
recipe = zc.zdaemonrecipe
program = ${buildout:bin-directory}/cupython run.py
